flows.json
[{"id":"8fe3f22e.7342","type":"tab","label":"prediction asset failure","disabled":false,"info":""},{"id":"3aa65461.928b6c","type":"http request","z":"8fe3f22e.7342","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/23a79a69-180a-4981-b623-6138240b6715/deployments/5979ae61-3351-4e77-a118-abbd3d94729d/online","tls":"","proxy":"","x":350,"y":177,"wires":[["ece7e8eb.74a3d8"]]},{"id":"430dae12.b6b06","type":"function","z":"8fe3f22e.7342","name":"prediction","func":"var token=msg.payload.token;\nvar tem=global.get(\"tem\");\nvar hum=global.get(\"hum\");\nvar M1=global.get(\"M1\");\nvar M2=global.get(\"M2\");\nvar M3=global.get(\"M3\");\nvar M4=global.get(\"M4\");\nvar M5=global.get(\"M5\");\nmsg.payload={\"fields\":[\"Temperature\",\"Humidity\",\"Measure 1\",\"Measure 2\",\"Measure 3\",\"Measure 4\",\"Measure 5\"],\"values\":[[tem,hum,M1,M2,M3,M4,M5]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":96,"wires":[["3aa65461.928b6c"]]},{"id":"b426199b.679838","type":"debug","z":"8fe3f22e.7342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":714,"y":346,"wires":[]},{"id":"27ee43a2.6330dc","type":"http request","z":"8fe3f22e.7342","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":451,"y":402,"wires":[["e7c916c4.277df8","430dae12.b6b06","b426199b.679838"]]},{"id":"f07e7ec7.7c5ba","type":"inject","z":"8fe3f22e.7342","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":81,"y":262,"wires":[["69291f7e.096ab"]]},{"id":"69291f7e.096ab","type":"function","z":"8fe3f22e.7342","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"5509ae61-1395-4c04-af5a-237075d48e5e\"\nvar password=\"55790b75-7a0d-4cee-8153-938dec7e2871\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"tem\",msg.payload.tem)\nglobal.set(\"hum\",msg.payload.hum)\nglobal.set(\"M1\",msg.payload.M1)\nglobal.set(\"M2\",msg.payload.M2)\nglobal.set(\"M3\",msg.payload.M3)\nglobal.set(\"M4\",msg.payload.M4)\nglobal.set(\"M5\",msg.payload.M5)\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":352,"wires":[["27ee43a2.6330dc"]]},{"id":"ece7e8eb.74a3d8","type":"function","z":"8fe3f22e.7342","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":103,"wires":[["73cb9045.1aac8"]]},{"id":"e7c916c4.277df8","type":"debug","z":"8fe3f22e.7342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":711,"y":422,"wires":[]},{"id":"acd99f50.41eff","type":"ui_form","z":"8fe3f22e.7342","name":"","label":"","group":"7b97c974.490fe8","order":0,"width":0,"height":0,"options":[{"label":"Temperature","value":"tem","type":"number","required":true},{"label":"Humidity","value":"hum","type":"number","required":true},{"label":"Measure 1","value":"M1","type":"number","required":true},{"label":"Measure 2","value":"M2","type":"number","required":true},{"label":"Measure 3","value":"M3","type":"number","required":true},{"label":"Measure 4","value":"M4","type":"number","required":true},{"label":"Measure 5","value":"M5","type":"number","required":true}],"formValue":{"tem":"","hum":"","M1":"","M2":"","M3":"","M4":"","M5":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":131,"y":462,"wires":[["69291f7e.096ab"]]},{"id":"910e724d.6cb9c","type":"ui_text","z":"8fe3f22e.7342","group":"7b97c974.490fe8","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":778,"y":186,"wires":[]},{"id":"73cb9045.1aac8","type":"switch","z":"8fe3f22e.7342","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":476,"y":40,"wires":[["51e3fa4d.c1b3a4"],["a22375b7.3e3fc8"]]},{"id":"51e3fa4d.c1b3a4","type":"template","z":"8fe3f22e.7342","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"There is a failure in motor","output":"str","x":711,"y":31,"wires":[["910e724d.6cb9c"]]},{"id":"a22375b7.3e3fc8","type":"template","z":"8fe3f22e.7342","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"There is a no failure in motor","output":"str","x":711,"y":78,"wires":[["910e724d.6cb9c"]]},{"id":"7b97c974.490fe8","type":"ui_group","z":"","name":"Motor Condition","tab":"7157008c.373d7","disp":true,"width":"6","collapse":false},{"id":"7157008c.373d7","type":"ui_tab","z":"","name":"Asset Failure Prediction","icon":"dashboard","disabled":false,"hidden":false}]